{% layout "base" %}
{% block content %}

<p style="font-size: 1.5em;">
	We have received a request to reset the password for your <i>{{ projectName }}</i> account. If you did not make this change, please contact one of your administrators. Otherwise, to complete the process, click the following link to confirm your email address and enter your new password.
</p>

<p style="text-align: center; padding: 20px 0;">
        <h2 style="width:98vw; text-align: center; font-size: 1.8em;">This is your pin</h2>
    <div style="max-width: 27vw; background-color:#4403ad; color:white; padding:10px; text-align: center; margin:auto;">
     <h2 style="font-size: 2em;">{{ pin }}</h2>
    </div>
</p>

<p>
   <div style="text-align: center; padding-top: 10px">
        <span style="color: red; width:100vw; font-size: 1.5em;">The pin is valid only for 5 minutes!</span>
    </div>
</p>

<p style="font-size: 1.5em;">
    Thank you,<br>
    The {{ projectName }} Team
</p>

{% endblock %}